.zixunContent{
	width: 95%;
	background-color: #fff;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #fff;
}
.zixunContent div.btns{
	margin-top: 10px;
	margin-left: 10px;
}
.zixunContent button{
	margin-left: 10px;
}
.zixunContent table{
	width: 90%;
	margin:10px auto;
}
.zixunContent table th,.zixunContent table td{
	text-align:center;
}